li a.page-scroll.whiteText
{
    color: #ffffff;
}

li a.page-scroll.whiteText:hover
{
    color: #96ff9b;
}
li a.page-scroll.whiteText:active
{
    color: #96ff9b;
}

li.active a.page-scroll.whiteText
{
    color: #96ff9b !important;
    background-color: transparent !important;
}


/*to center the navbar*/
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.pad-row
{
    padding:20px 50px 100px 50px;
}

.caviar
{
    font-family: "Muli";
}

.bgWhite
{
    background: url(../img/backgrounds/bg1.png);
}

.bgStripes
{
    background: url(../img/backgrounds/bg2.png);
    /*background-color: #2aa13e;*/
}

.blackText p
{
    color: #000000;
}

.blackText
{
    color: #000000;
}

.allWidth
{
    width: 100%;
}

.as
{
    display: block;
}


.pillhorario{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-family: 'Poiret One', cursive;
    font-size: 22px;
    overflow: hidden;
    vertical-align: top;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;
    -webkit-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    margin-bottom: 20px;
    padding: 5px
}

.center-pills
{
    display: inline-block;
}

footer{
    background-color: black;
    display: block;
    width: 100%;
}

footer .margin-row
{
    margin: 20px 0 20px 0;
}

.modalMarginTop
{
    /*margin-top:50px;*/
    /*to show the modal on top of the nav bar*/
    z-index: 9999;
}

.modal-title
{
    font-family: "Muli";
    font-weight: bold;
    font-size:40px;
}